@charset "utf-8";
/* CSS Document */

header {
    background-image: url(img/header.jpg);
    background-repeat: repeat-x;
    height: 300px;
    width: 1700px;
}

.btn-secondary {
    top: 199px;
    left: 621px;
}
main h4 {
    font-family: 'Myriad Arabic';
    color: #008891;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    padding-left: 274px;
    padding-right: 50px;
}
main p {
    font-family: 'Myriad Arabic';
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-right: 84px;
    padding-left: 323px;
}
.nav {
    background-color: rgba(255,255,255,1.00);
    height: 500px;
}

main {
    width: 2095px;
    height: 217px;
    background-color: #e7e7de;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 11px;
    float: right;
}
.mosque  {
    width: 322px;
    background-color: rgba(255,255,255,1.00);
    padding-top: 43px;
    margin-top: 79px;
    margin-left: 1250px;
}

.mosque img {
    width: 123px;
    height: 148px;
    text-align: center;
    bottom: 119px;
}

.mosque p {
    width: 215px;
    height: 59px;
    font-family: 'Myriad Arabic';
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    padding-left: 54px;
}
.mosque .btn.btn-info {
    width: 140px;
    height: 37px;
    background-color: #008891;
    font-size: medium;
    text-align: center;
    color: rgba(255,255,255,1.00);
    border-style: groove;
    border-radius: 19px;
}
.nav .mosque a {
    color: rgba(255,255,255,1.00);
    font-size: large;
}

.destination {
    width: 322px;
    background-color: rgba(255,255,255,1.00);
    margin-top: -287px;
    margin-left: 731px;
}
.destination img {
	width: 158px;
	height: 158px;
}
.destination p {
    font-size: 20px;
    text-align: center;
    padding-left: 75px;
    line-height: 31px;
}
.destination .btn.btn-info {
    width: 140px;
    height: 37px;
    background-color: #008891;
    font-size: medium;
    text-align: center;
    color: rgba(255,255,255,1.00);
    border-style: groove;
    border-radius: 19px;
}
.destination a {
    color: rgba(255,255,255,1.00);
    font-size: large;
    padding-top: 14px;
}
footer  {
    background-color: #08003b;
    width: 1700px;
}
footer img {
    width: 36px;
    height: 31px;
    margin-left: 713px;
    opacity: 0.45;
}
body {
    background-color: rgba(255,255,255,1.00);
    width: 1700px;
}
